<div class="container-fluid">
  <header class="pt-5">
    <p class="h1">Formation Angular Approfondissement</p>
    <hr />
  </header>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/decorator">Les Décorateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Mes Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Mon Compte</a>
      </li>
    </ul>

  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <hr />
    <p class="small text-center">Mai 2021 - Dawan FOAD - POE Frontend - Paris</p>
  </footer>
</div>